/* Basic Styling */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    flex: 1; /* Bottom sticky footer effect */
}

section {
    margin-bottom: 2rem;
}

/* Custom Styling */

header {
    background-image: url('header.jpg');
    background-size: cover;
}

/* Additional custom styles as needed */

/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

footer p {
    margin: 0;
}

footer .container {
    margin-top: 1rem;
}

/* End of Footer styles */

.horizontal-collapse .navbar-collapse {
    flex-direction: row; /* Set flex-direction to row for horizontal collapsing */
}

.horizontal-collapse .navbar-nav {
    flex-direction: row; /* Set flex-direction to row for horizontal menu items */
}

.horizontal-collapse .navbar-nav .nav-item {
    padding: 0 1rem; /* Adjust horizontal spacing between menu items */
}

/* Custom Styling for the collapsed menu button */
.horizontal-collapse .navbar-toggler {
    border: none;
    background-color: transparent;
}

.horizontal-collapse .navbar-toggler .navbar-toggler-icon {
    background-color: #fff;
}

.left-corner-text {
    display: block; /* Make the span a block-level element */
    text-align: left; /* Align the text to the left */
    padding: 5px; /* Add some padding for spacing */
}